<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<script src="/main.js"></script>

<div class="container-md" style="padding: 5px;padding-top:20px">
<div class="row">
    <div class="col">
        <div class="container"
            style="padding:20px;background-color:rgb(192, 210, 221);border-radius:10px">
            <h5>Ingreso de productos</h5>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title" placeholder="title" />
                </div>
                <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                    <input type="text" class="form-control" id="price" name="price" placeholder="Price" />
                </div>
                <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                    <input type="text" class="form-control" id="stock" name="stock" placeholder="stock" />
                </div>
                <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                    <input type="text" class="form-control" id="code" name="code" placeholder="code" />
                </div>
                <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                    <input type="text" class="form-control" id="image" name="image" placeholder="image" />
                </div>
                <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                    <input type="text" class="form-control" id="description" name="description" placeholder="description" />
                </div>

                <button onclick="sendProduct(this)" class="btn btn-primary w-100">Crear</button>
            </div>
            <div style="overflow-y:scroll">
                <table class="table" style="text-align: center;background-color:white;border-radius:4px; max-height:500px">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>price</th>
                            <th>date</th>
                            <th>code</th>
                            <th>description</th>
                            <th>stock</th>
                            <th>image</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo" >

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container"
            style=" padding:20px;background-color:rgb(192, 210, 221);border-radius:10px">
            <h5>Mensajes</h5>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" />
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" />
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" />
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                <input type="text" class="form-control" id="edad" name="edad" placeholder="Edad" />
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                <input type="text" class="form-control" id="alias" name="alias" placeholder="Alias" />
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                <input type="text" class="form-control" id="avatar" name="avatar" placeholder="Avatar" />
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                <input type="text" class="form-control" id="texto" name="texto" placeholder="Texto" />
            </div>

            <button onclick="sendMensaje(this)" class="btn btn-primary w-100">Crear</button>
            <div class="card-body" style="background-color:white; overflow-y:scroll;max-height:400px ;" id="caja">

            </div>
        </div>
    </div>

</div>

</div>
<footer style="padding-top: 50px;" id="footer">

</footer>