<div class="col-md-4 mx-auto" style="padding-top:200px">
    <div class="card">
        <div class="card-header" style="text-align: center;">

        </div>
        <div class="card-body">
                            <h3>No se encuentra logeado</h3>
                <div class="form-group" style="margin-top: 10px; margin-bottom:10px">
                    <a class="btn btn-primary"href="/api/users/login"> ir al login</a>
                </div>
        </div>
    </div>
</div>