<div class="col-md-4 mx-auto" style="padding-top:200px;text-align:center">

    <div class="card">
    <div class="card-header" style="text-align: center;">
        <h3>Login</h3>
    </div>
    <div class="card-body">
        <form action="/api/users/login" method="post" style="text-align: center;">
            <div class="form-group">
                <input type="text" class="form-control" name="userName" value="{{userName}}" placeholder="Username" />
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" name="password" placeholder="Password" />
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary w-100"><i class="fa fa-sign-in-alt"></i></button>
                </div>
                <div class="col">
                    <a href="/api/users/auth/facebook" class="btn btn-primary w-100"><i class="fa fa-facebook-square"></i> </a>
                </div>
            </div>
            
            
        </form>
    </div>
</div>
</div>
